 /* FONTS */

 h2 {    
 	font-family: "Times New Roman", Times, serif;
 	font-weight: bold;
 }

 p {
 	font-family: "Times New Roman", Times, serif;
 	font-weight: normal;
 }

/* RESPONSIVE DISPLAY */

@media only screen and (max-width: 300px){

/* Useless but for review of the "hide" instruction */
#medium {display: none;}
#large {display: none;}

/* Actual display */
#small {display: inline; width: 100%;}
#medium {display: inline; width: 100%;}
#large {display: inline; width: 100%;}

body {background-color: red;}
h2 {font-size: 18px;}
p {font-size: 14px;}

}

@media only screen and (min-width: 300px) and (max-width: 768px){

/* Useless but for review of the "hide" instruction */
#small {display: none;}
#large {display: none;}

/* Actual display */
#small {display: inline; width: 66%;}
#medium {display: inline; width: 34%;}
#large {display: inline; width: 100%;}

body {background-color: green;}
h2 {font-size: 22px;}
p {font-size: 18px;}
}

@media only screen and (min-width: 768px) {

/* Useless but for review of the "hide" instruction */
#small {display: none;}
#medium {display: none;}

/* Actual display */
#small {display:inline; width: 33%;}
#medium {display: inline; width: 33%;}
#large {display: inline; width: 34%;}

body {background-color: blue;}
h2 {font-size: 26px;}
p {font-size: 22px;}
}

[class*="col-"] {
  float: left;
  padding: 15px;
  border: 1px solid red;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

