 /* FONTS */

 h2 {    
 	font-family: "Times New Roman", Times, serif;
 	font-weight: bold;
 }

 p {
 	font-family: "Times New Roman", Times, serif;
 	font-weight: normal;
 }

/* RESPONSIVENESS */

/* For mobile phones: */
@media only screen and (max-width: 300px){


[class*="col-"] {
  width: 100%;
}

body {
    background-color: red;
  }
h2 {
	font-size: 18px;
}
p {
	font-size: 14px;
}
}

/* For tablets: */
@media only screen and (min-width: 300px) and (max-width: 768px){
.col-1 {width: 66%;}
.col-2 {width: 34%;}
.col-3 {width: 100%;}

body {
    background-color: green;
  }
h2 {
	font-size: 22px;
}
p {
	font-size: 18px;
}
}

/* For desktop: */
@media only screen and (min-width: 768px) {
.col-1 {width: 33%;}
.col-2 {width: 33%;}
.col-3 {width: 34%;}

body {
    background-color: blue;
}
h2 {
	font-size: 26px;
}
p {
	font-size: 22px;
}
}

[class*="col-"] {
  float: left;
  padding: 15px;
  border: 1px solid red;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}



/* DISPLAY */
